@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
    @apply bg-white overflow-y-scroll;
  }
}

@layer components {
  .modal {
    @apply fixed inset-0 bg-gray-600 bg-opacity-60 flex items-center justify-center opacity-0 invisible;
  }
  .modal.active {
    @apply visible opacity-100;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  .spinner {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #eb455f;
    animation: spinner 0.6s linear infinite;
  }
  .danger-bg-1 {
    background: rgb(253, 224, 71);
    background: linear-gradient(90deg, rgba(253, 223, 71, 0.085) 20%, rgba(255, 255, 255, 1) 90%);
  }
  .danger-bg-2 {
    background: rgb(239, 68, 68);
    background: linear-gradient(90deg, rgba(239, 68, 68, 0.085) 20%, rgba(255, 255, 255, 1) 90%);
  }
  .danger-bg-3 {
    background: rgb(127, 29, 29);
    background: linear-gradient(90deg, rgba(127, 29, 29, 0.085) 20%, rgba(255, 255, 255, 1) 90%);
  }
  .danger-bg-4 {
    background: rgb(39, 39, 42);
    background: linear-gradient(90deg, rgba(39, 39, 42, 0.085) 20%, rgba(255, 255, 255, 1) 90%);
  }
}
